.k-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.k-card-image {
  margin: 0.75rem;
  border-radius: 20px;
  max-width: 256px !important;
  width: 40%;
  max-height: 180px;
}

.k-card-body {
  margin: 0 0.5rem;
  color: #575757;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating img {
  margin-right: 0.45rem;
}

/* Link behavior */
.business-page-link {
  width: 160px;
  margin-top: 0.4rem;
  border: solid thin #777777;
  border-radius: 20px;
  padding: 0.35rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: none;
}
.business-page-link div {
  color: #777777;
}
.business-page-link div.lighter-text {
  color: #a0a0a0;
}
.business-page-link img {
  width: 32px;
}
.business-page-link:hover {
  transform: scale(1.2);
}
