#App {
  display: inline-block;
  margin: 0;
  width: 100%;
  max-width: 768px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* App sizing for very small devices (cell/smartphones) */
@media only screen and (min-width: 300px) and (max-width: 400px) {
  #App {
    width: 100vw;
  }
}

h1.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
  font-size: 4rem;
  font-variant: small-caps;
  color: #841de3;
}

h1.title img {
  margin-left: 1rem;
}

h2.subtitle {
  font-size: 1.5rem;
  color: #353535;
}

body {
  margin: 3rem 3rem;
}

.custom-slider {
  width: 90%;
}
